apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-a
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: microservice-a
  template:
    metadata:
      labels:
        app: microservice-a
    spec:
      containers:
        - name: microservice-a
          image: {{ .Values.microserviceA.image | quote }}
          ports:
            - containerPort: {{ .Values.microserviceA.port }}
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: {{ .Values.microserviceA.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
