apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-b
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: microservice-b
  template:
    metadata:
      labels:
        app: microservice-b
    spec:
      containers:
        - name: microservice-b
          image: {{ .Values.microserviceB.image | quote }}
          ports:
            - containerPort: {{ .Values.microserviceB.port }}
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: {{ .Values.microserviceB.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
