apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-a-to-b
  namespace: santiago-parraga-2-dev
spec:
  podSelector:
    matchLabels:
      app: microservice-b
  policyTypes:
    - Ingress
  ingress:
    - from:
    	- namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: santiago-parraga-2-dev
            podSelector:
              matchLabels:
              app: microservice-a
      ports:
        - protocol: TCP
          port: {{ .Values.microserviceB.port }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-b-to-postgres
  namespace: santiago-parraga-2-dev
spec:
  podSelector:
    matchLabels:
      app: postgres
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: microservice-b
      ports:
        - protocol: TCP
          port: 5432
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-ingress-to-micro-a
  namespace: santiago-parraga-2-dev
spec:
  podSelector:
    matchLabels:
      app: microservice-a  # Aplica esta política a los pods etiquetados como micro-b
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              network.openshift.io/policy-group: ingress
      ports:
        - protocol: TCP
          port: {{ .Values.microserviceA.port }}  # Puerto de destino en micro-b (ajústalo según tu app)
